squadra.dtd

<!ELEMENT squadra (nome,presidente,allenatore,giocatori)>
<!ELEMENT nome (#PCDATA)>
<!ATTLIST squadra serie (A|B|C1) "A">
<!ELEMENT presidente (#PCDATA)>
<!ELEMENT allenatore (#PCDATA)>
<!ELEMENT giocatore (#PCDATA)>
<!ELEMENT giocatori (giocatore+)>
<!ATTLIST giocatore titolare (y|n) "n">
<!ATTLIST giocatore ruolo (portiere|difensore|centrocampista|attaccante) "">
<!ATTLIST giocatore capitano ID #IMPLIED>